
Progetto Precedente/metodoCCM/estrazioneTemplate/stepIntermedi
Progetto Precedente/metodoCCM/estrazioneTemplate/template
Progetto Precedente/metodoCCM/Matfiles
Progetto Precedente/Sposta-DesktopIniNelCestino.ps1
*.asv
Progetto Precedente/metodoCCM/addestramento/dataset
Progetto Stolfi/doc/~$lazione Progetto Sensori.docx
Progetto Stolfi/doc/~WRL3028.tmp
